@import '~bootstrap/scss/bootstrap';

main{
    height: calc(100vh - 56px);
    // overflow: hidden;
    // overflow-y: hidden;
}
nav{
    height: 56px;
    background-color: #00aabd; 
    color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main-show{
    background: rgb(0,170,189);
    background: linear-gradient(0deg, rgba(0,170,189,1) 0%, rgba(255,255,255,1) 87%);
}
.img-link{
    width: 100%;
    height: 100%;
}
.border1{
    border: 1px solid rgb(0, 0, 0); 
    //box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.8s ease-in-out;
    padding: 10px;
    
}
.border1:hover{
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.6);
}
.doctor-img{
    max-width: 200px;
    max-height: 200px;   
}
h1{
    border: 1px solid black;
    margin: 0;
}
#left-box{
    height: calc(100vh - 56px);
    padding-right: 0;
    
}



#right-box{
    height: calc(100vh - 56px);
    
    
}

.btn-light{
    border-radius: 30px;
}

.btn-light:hover{
    //background-color: rgb(199, 57, 14); arancio
    //background-color: RGB(85, 85, 189); viola
    background-color: RGB(75, 89, 102);
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#foto{
    width: 50%;
}

#info{
    width: 50%;
}

#premium-button{
    border-radius: 30px;
    background-color: RGB(85, 85, 189); 
    color: white;
}

#premium-button:hover{
    //background-color: rgb(199, 57, 14); 
    color: white;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

#submit-payment-btn{
    width: 100%;
}

.table{
    --bs-table-bg: none !important;
}
